.nav-container {
  display: flex;
  background: #FED530;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.header > h1 {
  margin: 0;
}

.nav-container > div {
  padding: 5px;
}