.app-container {
  background: #36389A;
  height: 100%;
}

.turn-container {
  text-align: center;
  color: #6bd7d6;
}

.hidden {
  display: none;
}

.win-totals-container {
  display: flex;
  justify-content: center;
  color: #6bd7d6;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading-container {
  height: 100%;
  width: 100%;
  background: #36389A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-background {
  background: #E6296D;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
